body {
    background-color: black;
    margin: 0;
    font-family: Arial, sans-serif;
}

.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

.header-content {
    text-align: left;
    padding: 10px;
}

.header-content h1 {
    margin: 0;
    font-size: 20px;
    font-weight: normal;
}

.header-content h2 {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}

.animated-nav-menu {
    width: 100%;
    background: linear-gradient(to right, white, black);
}

.animated-nav-menu ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

.animated-nav-menu li {
    flex: 1;
    border: 1px solid white;
}

.animated-nav-menu a {
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    padding: 10px 0;
    background-color: black;
    transition: color 0.5s, background-color 0.5s;
}

.animated-nav-menu a:hover, .animated-nav-menu a.active {
    color: black;
    background-color: #666666; 
}

.fading-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 120px;
}

.fading-gallery img {
    width: 300px;
    height: 250px;
    object-fit: cover;
    margin: 15px;
    transition: transform 0.7s, opacity 0.7s, left 0.7s, top 0.7s, box-shadow 0.7s;
}

.fading-gallery img:hover {
    opacity: 1;
    transform: translateY(-10px) scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.fading-gallery img:last-child {
    width: 350px;
    height: 250px;
    margin-right: 15px;
}

.fading-gallery .rimac-img {
    width: 390px;
    height: 250px;
    margin-right: 15px;
}

.fading-gallery .HondaNSX-img {
    width: 390px;
    height: 250px;
    margin-right: 15px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 9998;
}
 
.close-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: white;
    background-color: black;
    padding: 10px;
    cursor: pointer;
    display: none;
    z-index: 9999;
}