body {
    background-color: black;
}

.hover-highlight-card {
    padding: 20px;
    border: 6px solid transparent;
    opacity: 1; 
    transition: opacity 0.5s; 
}

.hover-highlight-card:hover {
    background-color: darkgray;
    transition-duration: 500ms;
    box-shadow: none;
    width: 14%;
    height: 4%;
    border-color: white;
    opacity: 0; 
}

.hover-highlight-card-wrapper {
    display: inline-block; 
    position: relative; 
}

.hover-highlight-card-wrapper::after {
    content: ""; 
    position: absolute; /* Position it absolutely */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    width: 100%; /* Cover the entire area of the wrapper */
    height: 100%; /* Cover the entire area of the wrapper */
    opacity: 0; /* Initially make it transparent */
    background-color: darkgray; /* Background color same as on hover */
    transition: opacity 0.5s; /* Add transition for opacity */
    z-index: -1; /* Behind the card */
}

.hover-highlight-card-wrapper:hover::after {
    opacity: 1; /* Make the pseudo-element visible on hover */
}

.hover-highlight-card-wrapper:hover .hover-highlight-card {
    opacity: 0; /* Set opacity to 0 on hover */
}
