body {
  background-color: black;
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
}

.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}

.header-content {
  text-align: left;
  padding: 10px;
}

.header-content h1 {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
}

.header-content h2 {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
}

.animated-nav-menu {
  width: 100%;
  background-color: black;
}

.animated-nav-menu ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.animated-nav-menu li {
  flex: 1;
  border: 1px solid white;
}

.animated-nav-menu a {
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
  padding: 10px 0;
  background-color: black;
  transition: color 0.5s, background-color 0.5s;
}

.animated-nav-menu a:hover, .animated-nav-menu a.active {
  color: black;
  background-color: #666666;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  background-color: black;
  color: white;
}

.text-section {
  flex: 1;
  text-align: left;
  padding: 15px;
  box-sizing: border-box;
  border: 10px solid white; /* Adjusted to match desired border size */
  margin-right: 10px;
}

.text-section p {
  font-size: 100%;
  margin: 0;
  font-weight: bold; /* Made text bold */
}

.image-grid {
  display: flex;
  flex: 3;
  justify-content: space-between;
  flex-wrap: wrap;
}

.image-container {
  position: relative;
  width: 200px;
  height: 300px;
  overflow: hidden;
  margin: 10px;
  background-color: black; /* Changed background to black */
  border: 10px solid white; /* Adjusted to match border size */
  box-sizing: border-box;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.first-image {
  z-index: 1;
}

.second-image {
  opacity: 0;
  z-index: 2;
}

.image-container:hover .second-image {
  opacity: 1;
}

.image-container:hover .first-image {
  opacity: 0;
}
