/* music-style.css */
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.text-section {
    font-size: 24px;
    color: white;
    padding: 20px;
    background-color: black;
    border: 1px solid white;
    width: 40%;
}

.albums-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
    border: 1px solid white;
    width: 55%;
}

.album {
    flex: 1;
    text-align: center;
    margin: 0 10px;
}

.album img {
    width: 100%;
    height: auto;
    border: 1px solid white;
    transition: opacity 0.5s ease-in-out;
}

.album .info {
    display: none;
    color: white;
}

.album:hover .info {
    display: block;
}
